body {
  margin: 0;
  font-family: "Lato", "Helvetica";
}

.taskbar {
  margin: 0;
  background: #779ecb;
  width: 100%;
}

.taskbar::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
  width: 12vw;
  background: #779ecb;
}

nav ul li ul {
  position: absolute;
  top: 50px;
  display: none;
}

nav li:hover > ul {
  display: block;
}

nav ul li:hover {
  background-color: #9db3cc;
}

nav a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
  color: white;
  line-height: 50px;
}

nav .bigletters {
  line-height: 16px;
}
