.navbar-expand {
  padding-left: 10px;
}
.container {
  height: 110%;
}
label {
  display: block;
  margin-top: 10px;
  color: white;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
label {
  display: block;
  margin-top: 10px;
}

.card {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.graph-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 10px;
}

.csv-importer h3 {
  margin-top: 5px;
}

.dropzone {
  width: 500px;
  padding: 12px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 30px;
}
.dropzone p {
  margin: auto;
  margin-bottom: 0;
  width: 400px;
}

.graph-container {
  height: 300px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
  border: 1px solid black;
}

.graph-titles {
  display: flex;
  margin-top: 30px;
}

.graph-titles :nth-child(1) {
  margin-left: 0;
}
.graph-title {
  margin: 10px;
}
.graph-title input {
  margin-top: 5px;
  border-radius: 30px;
  border: 1px solid black;
}

.graph-save-button {
  margin-top: 10px;
  border-radius: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.highlighted {
  background: gray;
}

.container-title {
  margin-top: 30px;
}

.form :last-child.form-group {
  margin-top: 10px;
}

.letter-cards {
  display: flex;
  flex-wrap: wrap;
}

.letters-title {
  margin: 20px 5px;
}

.letter-card {
  width:47px;
  background-color: #779ecb;
  padding: 0px 15px 5px;
  margin: 10px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.letter-card:hover {
  background-color: #83a4ca;
}

.letter-card p {
  margin-bottom: 5px;
  text-align: center;
}

.remove-button {
  background-color: #779ecb;
  color: #212529;
  position: relative;
  top: -0px;
  right: -15px;
  border-radius: 10px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.remove-button:hover .cross-icon {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.correct-msg {
  margin-top: 5px;
  color: green;
}
.incorrect-msg {
  margin-top: 5px;
  color: red;
}

.word {
  margin: 4rem 0 0rem 0;
  align-items: center;
  text-align: center;
}

.word_current {
  font-size: 5rem;
  font-family: "Lato", "Helvetica";
  height: 6rem;
}

.word_input {
  margin: 2rem auto;
  padding: 1rem;
  font-size: inherit;
  font-family: "Lato", "Helvetica";
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
}

.word_input:disabled {
  background-color: #232323;
  display: none;
}

.word .message {
  height: 2.5rem;
}

.word .game-over {
  color: red;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.controls_time,
.controls_score {
  width: 15rem;
  letter-spacing: 2px;
}

.controls_time {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.controls_score {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.controls .btn-start {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  cursor: pointer;
  font-family: "Lato", "Helvetica";
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 2rem;
  padding: 10pt;
  width: 20rem;
  background-color: #779ecb;
  letter-spacing: 0.5rem;
  position: static;
}
.controls .btn-start:hover {
  background-color: #83a4ca;
}

.controls .time,
.controls .score {
  font-size: 3.5rem;
}

.kb h4 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.kb .keyboard_img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 40px;
  opacity: 1;
}

.kb .keyboard .show-keyboard {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  bottom: 0;
  opacity: 1;
}

.kb .btn-keyboard {
  cursor: pointer;
  font-family: "Lato", "Helvetica";
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fffffa;
  margin-bottom: -1rem;
  margin-right: 5%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Lato", "Helvetica";
  background-color: #232323;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

select {
  padding: 2px 5px 2px 10px;
  margin: 5px 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.get-button {
  font-size: 16px;
  margin-top: 0px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #779ecb;
  padding: 3px 7px 7px 7px;
  height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
  -moz-transition: all 0.33s linear;
  -ms-transition: all 0.33s linear;
  -o-transition: all 0.33s linear;
}
.get-button:hover {
  background-color: #779ecb;
}
.card-container {
  margin-left: 5px;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-container label {
  color: white;
}
.form-control {
  font-size: 16px;
  width: 150px;
  margin-top: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

form.container {
  margin-top: 30px;
}
.vocab-add-container {
  display: flex;
  border: 1px solid #779ecb;
  border-radius: 15px;
  padding: 10px 10px 5px 10px;
  margin-left: 5px;
  margin-top: 30px;
  width: 200px;
  justify-content: space-between;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
  -moz-transition: all 0.33s linear;
  -ms-transition: all 0.33s linear;
  -o-transition: all 0.33s linear;
}

.vocab-add-container:hover {
  cursor: pointer;
  background-color: #779ecb;
}

.add-title {
  display: flex;
}

.hide-container {
  display: flex;
  margin-top: 5px;
  margin-left: 50px;
  border: 1px solid #779ecb;
  border-radius: 15px;
  padding: 8px 5px 5px 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
  -moz-transition: all 0.33s linear;
  -ms-transition: all 0.33s linear;
  -o-transition: all 0.33s linear;
}

.hide-container:hover {
  cursor: pointer;
  background-color: #779ecb;
}
.arrow-icon {
  margin-left: 5px;
}

.add-container {
  display: flex;
  position: relative;
  width: 260px;
}
.add-container button {
  position: absolute;
  bottom: -4px;
  right: 5px;
}
.add-form-container {
  width: 600px;
  padding: 0px 15px 15px 15px;
  border: 1px solid #779ecb;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.select-container {
  width: 600px;
  margin-left: 5px;
  padding: 0px 15px 15px 15px;
  border: 1px solid #779ecb;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Counter */
.timer-container{
  display:flex;
  text-align:center;
 
}
.timer-title{
  margin-bottom:5px;
  margin-right:3px;
}
.timer{
  width: 10px;
  height: 30px;
}

.vocab{
  font-size:35px;
}
.game_title{
  margin-bottom:50px;
}

.word_translation{
  text-align: center;
}

.vocab-container{
  text-align:center;
  margin:auto;
}
